[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "vendor/Doctrine"]
	path = vendor/Doctrine
	url = https://github.com/doctrine/common
[submodule "vendor/Monolog"]
	path = vendor/Monolog
	url = https://github.com/Seldaek/monolog.git
