.editorconfig          export-ignore
.gitattributes         export-ignore
/.github/              export-ignore
.gitignore             export-ignore
.php-cs-fixer.dist.php export-ignore
/docs/                 export-ignore
/Dockerfile            export-ignore
/Makefile              export-ignore
/phpstan-baseline.neon export-ignore
/phpstan.neon.dist     export-ignore
/phpunit.xml.dist      export-ignore
/psalm-baseline.xml    export-ignore
/psalm.xml             export-ignore
/tests/                export-ignore
/vendor-bin/           export-ignore
