parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, int\\|string given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#2 \\$prefix of function http_build_query expects string, null given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Binary operation \"\\*\" between float\\|int\\|string and 1000 results in an error\\.$#"
			count: 1
			path: src/Handler/MockHandler.php

		-
			message: "#^Parameter \\#1 \\$str1 of function strcasecmp expects string, int\\|string given\\.$#"
			count: 1
			path: src/Handler/CurlFactory.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Middleware.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Pool.php

