parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, int\\|string given\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#1 \\$str1 of function strcasecmp expects string, int\\|string given\\.$#"
			count: 1
			path: src/Handler/CurlFactory.php

		-
			message: "#^Argument of an invalid type \\(array\\|null\\) supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Handler/StreamHandler.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: src/Middleware.php
