parameters:
    level: 1
    paths:
      - src

    ignoreErrors:
        -
            message: '#Function uri_template not found#'
            path: %currentWorkingDirectory%/src/functions.php


        # To be removed when we drop support for PHP5
        - '#Return typehint of method#'
