includes:
    - phpstan-baseline.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
    bootstrapFiles:
      - tests/bootstrap-phpstan.php
