<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite name="Guzzle">
            <directory>./tests/Guzzle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Guzzle</directory>
            <exclude>
                <directory suffix="Interface.php">./src/Guzzle</directory>
                <file>./src/Guzzle/Common/Event/Subject.php</file>
                <file>./src/Guzzle/Common/GuzzleException.php</file>
                <file>./src/Guzzle/Http/HttpException.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
