<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite name="Guzzle">
            <directory>./tests/Guzzle/Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="build/artifacts/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Guzzle</directory>
            <exclude>
                <directory suffix="Interface.php">./src/Guzzle</directory>
                <file>./src/Guzzle/Common/Exception/GuzzleException.php</file>
                <file>./src/Guzzle/Http/Exception/HttpException.php</file>
                <file>./src/Guzzle/Http/Exception/ServerErrorResponseException.php</file>
                <file>./src/Guzzle/Http/Exception/ClientErrorResponseException.php</file>
                <file>./src/Guzzle/Http/Exception/TooManyRedirectsException.php</file>
                <file>./src/Guzzle/Http/Exception/CouldNotRewindStreamException.php</file>
                <file>./src/Guzzle/Common/Exception/BadMethodCallException.php</file>
                <file>./src/Guzzle/Common/Exception/InvalidArgumentException.php</file>
                <file>./src/Guzzle/Common/Exception/RuntimeException.php</file>
                <file>./src/Guzzle/Common/Exception/UnexpectedValueException.php</file>
                <file>./src/Guzzle/Service/Exception/ClientNotFoundException.php</file>
                <file>./src/Guzzle/Service/Exception/CommandException.php</file>
                <file>./src/Guzzle/Service/Exception/DescriptionBuilderException.php</file>
                <file>./src/Guzzle/Service/Exception/ServiceBuilderException.php</file>
                <file>./src/Guzzle/Service/Exception/ServiceNotFoundException.php</file>
                <file>./src/Guzzle/Service/Exception/ValidationException.php</file>
                <file>./src/Guzzle/Service/Exception/JsonException.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
